@font-face
  font-family Railway
  src url('/font/railway_thin-webfont.ttf'), url('raleway_thin-webfont.ttf')

body
  font-family Railway, Arial, sans-serif

h1
  text-align center
  letter-spacing 5px
  text-transform uppercase

  span
    font-weight bold
    margin-right 20px

a
  color inherit
  text-decoration none
