@import 'nib'
@import 'font-awesome'

global-reset()

@import '_typography'
@import '_grid'

.container
  width 980px
  margin 0 auto

.wrapper
  width 480px
  margin 0 auto

$form-color = black

.circle
  width 300px
  height 300px
  border-radius 50%
  background lighten($form-color, 20%)
  transition all 0.5s ease-in
  position relative
  margin 50px auto 0

  &:hover
    background $form-color
    //transform scale(1.1)

  hr
    position absolute
    top 50%
    left 50%
    width 260px
    margin-left -130px
    transform rotate(45deg)

  hr:nth-child(2)
    transform rotate(-45deg)

.input-container
  color white
  position absolute
  span
    float left
  div
    overflow hidden
    input
      box-sizing border-box

.location
  top 20%
  left 50%
  margin-left -50px
  width 100px
  select
    width 80px

.hirable
  top 50%
  left 80%
  width 100px
  margin-left @width * -0.5

.field
  top 80%
  left 50%
  width 100px
  margin-left @width * -0.5

.language
  top 50%
  left 20%
  width 100px
  margin-left @width * -0.5

.logo
  float left
  font-size 26px

.masthead
  background #3bc492
  line-height 120px
  font-size 30px

header
  padding 50px 0
  clearfix()

  nav
    float right
    font-size 22px

  nav a
    font-weight 500
    border-bottom 2px solid rgba(0, 0, 0, 0)
    margin-left 20px
    &:hover, &:active
      border-bottom 2px solid #3bc490

button
  font-size larger
  margin-top 30px
  text-align center
  background #93b8ca
  color white
  text-transform uppercase
  border 0
  padding 16px 24px
  border-radius 4px
  cursor pointer
  &:hover
    background darken(#93b8ca, 20%)

form
  text-align center

.user span
  margin-right 10px

select
  background transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat right center
  -webkit-apperance none
  background white

input
  border 0
  outline 0
  font inherit

.user-item
  background purple
  border-radius 10px
  margin-top 20px
  background #ede5f1
  &:nth-child(2n)
    background #e4f5e2
  padding 14px
  overflow auto
  a
    float left
    margin-right 32px
  .user-item-desc
    margin-left 20px
  .name
    color #44c
    margin-bottom 12px
  .row
    color #333
