extends layout

block title
  | Coder Search

block content
  header
    .container
      a.logo(href='/') CoderSearch
      nav
        a(href='#') Gallery
        a(href='#') About
  section.masthead
    h1
      a(href='/')
        span Search for
        | Coders
        br
        span Find
        | Friends
  section
    form(method='post', name='frm-search')
      .circle
        hr
        hr
        .input-container.location
          span Location
          div
            select(name='location', value='北京')
              option 北京
              option 上海
              option 天津
              option 重庆
              option 阿克苏
              option 安宁
              option 安庆
              option 鞍山
              option 安顺
              option 安阳
              option 白城
              option 白山
              option 白银
              option 蚌埠
              option 保定
              option 宝鸡
              option 保山
              option 巴中
              option 北海
              option 本溪
              option 滨州
              option 博乐
              option 亳州
              option 沧州
              option 常德
              option 昌吉
              option 常熟
              option 常州
              option 巢湖
              option 朝阳
              option 潮州
              option 承德
              option 成都
              option 城固
              option 郴州
              option 赤壁
              option 赤峰
              option 赤水
              option 池州
              option 崇左
              option 楚雄
              option 滁州
              option 慈溪
              option 从化
              option 大理
              option 大连
              option 丹东
              option 丹阳
              option 大庆
              option 大同
              option 达州
              option 德阳
              option 德州
              option 东莞
              option 东阳
              option 东营
              option 都匀
              option 敦化
              option 鄂尔多斯
              option 恩施
              option 防城港
              option 肥城
              option 奉化
              option 抚顺
              option 阜新
              option 阜阳
              option 富阳
              option 福州
              option 抚州
              option 赣榆
              option 赣州
              option 高明
              option 高邮
              option 格尔木
              option 个旧
              option 巩义
              option 广安
              option 广元
              option 广州
              option 古包头
              option 贵港
              option 桂林
              option 贵阳
              option 固原
              option 哈尔滨
              option 海城
              option 海口
              option 海门
              option 海宁
              option 哈密
              option 邯郸
              option 杭州
              option 汉中
              option 鹤壁
              option 合肥
              option 衡水
              option 衡阳
              option 和田
              option 河源
              option 菏泽
              option 花都
              option 淮安
              option 淮北
              option 怀化
              option 淮南
              option 黄冈
              option 黄山
              option 黄石
              option 呼和浩特
              option 惠州
              option 葫芦岛
              option 湖州
              option 佳木斯
              option 吉安
              option 江都
              option 江门
              option 江阴
              option 胶南
              option 胶州
              option 焦作
              option 嘉善
              option 嘉兴
              option 介休
              option 吉林
              option 即墨
              option 济南
              option 晋城
              option 景德镇
              option 景洪
              option 靖江
              option 荆门
              option 荆州
              option 金华
              option 集宁
              option 济宁
              option 晋江
              option 金坛
              option 晋中
              option 锦州
              option 吉首
              option 九江
              option 酒泉
              option 鸡西
              option 济源
              option 句容
              option 开封
              option 凯里
              option 开平
              option 开远
              option 喀什
              option 克拉玛依
              option 库尔勒
              option 奎屯
              option 昆明
              option 昆山
              option 来宾
              option 莱芜
              option 莱西
              option 莱州
              option 廊坊
              option 兰州
              option 拉萨
              option 乐山
              option 连云港
              option 聊城
              option 辽阳
              option 辽源
              option 丽江
              option 临安
              option 临沧
              option 临汾
              option 灵宝
              option 临河
              option 临夏
              option 临沂
              option 丽水
              option 六安
              option 六盘水
              option 柳州
              option 溧阳
              option 龙海
              option 龙岩
              option 娄底
              option 漯河
              option 洛阳
              option 潞西
              option 泸州
              option 吕梁
              option 旅顺
              option 马鞍山
              option 茂名
              option 梅河口
              option 眉山
              option 梅州
              option 勉县
              option 绵阳
              option 牡丹江
              option 南安
              option 南昌
              option 南充
              option 南京
              option 南宁
              option 南平
              option 南通
              option 南阳
              option 内江
              option 宁波
              option 宁德
              option 盘锦
              option 攀枝花
              option 蓬莱
              option 平顶山
              option 平度
              option 平湖
              option 平凉
              option 萍乡
              option 普兰店
              option 普宁
              option 莆田
              option 濮阳
              option 黔南
              option 启东
              option 青岛
              option 庆阳
              option 清远
              option 青州
              option 秦皇岛
              option 钦州
              option 琼海
              option 齐齐哈尔
              option 泉州
              option 曲靖
              option 衢州
              option 日喀则
              option 日照
              option 荣成
              option 如皋
              option 瑞安
              option 乳山
              option 三门峡
              option 三明
              option 三亚
              option 厦门
              option 佛山
              option 商洛
              option 商丘
              option 上饶
              option 上虞
              option 汕头
              option 安康
              option 韶关
              option 绍兴
              option 邵阳
              option 沈阳
              option 深圳
              option 石河子
              option 石家庄
              option 石林
              option 石狮
              option 十堰
              option 寿光
              option 双鸭山
              option 朔州
              option 沭阳
              option 思茅
              option 四平
              option 松原
              option 遂宁
              option 随州
              option 苏州
              option 塔城
              option 泰安
              option 太仓
              option 泰兴
              option 太原
              option 泰州
              option 台州
              option 唐山
              option 腾冲
              option 滕州
              option 天门
              option 天水
              option 铁岭
              option 铜川
              option 通辽
              option 铜陵
              option 桐庐
              option 铜仁
              option 桐乡
              option 通州
              option 通化
              option 吐鲁番
              option 瓦房店
              option 潍坊
              option 威海
              option 渭南
              option 文登
              option 温岭
              option 温州
              option 乌海
              option 武汉
              option 芜湖
              option 吴江
              option 乌兰浩特
              option 武威
              option 无锡
              option 梧州
              option 西安
              option 项城
              option 襄樊
              option 香格里拉
              option 象山
              option 湘潭
              option 湘乡
              option 咸宁
              option 仙桃
              option 咸阳
              option 西藏
              option 西昌
              option 邢台
              option 兴义
              option 西宁
              option 新乡
              option 信阳
              option 新余
              option 忻州
              option 宿迁
              option 宿豫
              option 宿州
              option 宣城
              option 许昌
              option 徐州
              option 雅安
              option 牙克石
              option 延安
              option 延边
              option 盐城
              option 阳江
              option 阳泉
              option 扬州
              option 延吉
              option 烟台
              option 兖州
              option 宜宾
              option 宜昌
              option 宜春
              option 伊春
              option 伊犁
              option 银川
              option 营口
              option 鹰潭
              option 伊宁
              option 义乌
              option 宜兴
              option 益阳
              option 永康
              option 永州
              option 岳阳
              option 玉环
              option 榆林
              option 玉林
              option 运城
              option 玉溪
              option 余姚
              option 枣庄
              option 增城
              option 长春
              option 长海
              option 张家港
              option 张家界
              option 张家口
              option 长乐
              option 章丘
              option 长沙
              option 张掖
              option 长治
              option 漳州
              option 湛江
              option 肇东
              option 肇庆
              option 昭通
              option 郑州
              option 镇江
              option 中山
              option 周口
              option 舟山
              option 诸城
              option 珠海
              option 诸暨
              option 驻马店
              option 株洲
              option 淄博
              option 自贡
              option 遵义
              option 乌鲁木齐
              option 福清
              option 鄂州
              option 包头
              option 萧山
              option 宣化
              option 江油
              option 资阳
              option 辛集
              option 佛山
              option 万州
              option 邹城
              option 邵武
              option 姜堰
              option 湘阴
              option 松江
              option 七台河
              option 醴陵
              option 涪陵
              option 公主岭
              option 歙县
              option 兴化
        .input-container.hirable
          span Hirable
          div
            select(name='hirable', value='Yes')
              option Yes
              option No
        .input-container.field
          span Field
          div
            input(name='field')
        .input-container.language
          span Lang
          div
            select(name='language', value='*Overall')
              option *Overall
              option ActionScript
              option C
              option C#
              option C++
              option Common
              option CSS
              option Diff
              option Emacs
              option Erlang
              option Haskell
              option HTML
              option Java
              option JavaScript
              option Lua
              option Objective-C
              option Perl
              option PHP
              option Python
              option Ruby
              option Scala
              option Scheme
      button Submit
  section#result
    .container
      if typeof users != 'undefined'
        for i in users
          .user-item
            a(href='#')
              img(src='https://secure.gravatar.com/avatar/' + i.gravatar_id)
              .user-item-desc
                .row
                  span.login= i.login
                  |  (
                  span.name= i.name
                  | )
                .row
                  = 'Rank '
                  span.rank= i.hits_rank * 1e8
